<head>
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

    <div class="single-post-header container">
    <div class="single-post-wrapper">
      <div class="single-post-content">
    <h1 class="post-title" >{{ .Title }}</h1>
   
     {{ .Content }}
    <!-- Include partial for tags/terms -->
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
 </div>
  </div>
  {{ partial "main-parts/you-may-like.html" . }}
   {{ partial "imp-codes/imageBanner.html" . }}
{{ partial "main-parts/continue-reading.html" . }}
 
  </div>
 

