
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ partial "imp-codes/seo-meta.html" . }}
{{ with .Params.cssStyles }}{{ range . }}{{ $css := resources.Get . | resources.Minify | resources.Fingerprint }}<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">{{ end }}{{ end }}
{{ partial "imp-codes/article-schema.html" . }}
{{ partial "imp-codes/adsense.html" . }}
{{ partial "imp-codes/analytics.html" . }}
{{ partial "cssStyles/main.html" . }}
{{ if and .Params.faqs (gt (len .Params.faqs) 0) }}
  {{ partial "imp-codes/json_ld_faqs.html" . }}
{{ end }}
