<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
 {{ if eq .Section "tools" }}
      {{ partial "tools-parts/head.html" . }}
  {{ else }}
<head>{{ partial "main-parts/head.html" . }} </head>
  {{ end }}



<body>
 {{ if eq .Section "tools" }}
      {{ partial "tools-parts/header.html" . }}
  {{ else }}
         <header> {{ partial "main-parts/header.html" . }} </header>
  {{ end }}


<main>
  {{ block "main" . }}{{ end }}
   {{ block "tools" . }}{{ end }}
</main>


  {{ if eq .Section "tools" }}
   {{ partial "tools-parts/footer.html" . }} 
  {{ else }}
       <footer>  {{ partial "main-parts/footer.html" . }}</footer>
  {{ end }}


{{ partial "main-parts/jsfooter.html" . }}

</body>
</html>
